<a href="" id="<%= dom_id client %>" class="d-flex gap-4 btn btn-outline-secondary text-dark shadow-sm p-3 mb-3 rounded-custom">
  <span class="my-auto">
    <strong>Name:</strong>
    <%= client.name %>
  </span>

  <span class="my-auto">
    <strong>Surname:</strong>
    <%= client.surname %>
  </span>

  <span class="my-auto">
    <strong>Address:</strong>
    <%= client.address %>
  </span>

  <span class="my-auto">
    <strong>Email:</strong>
    <%= client.email %>
  </span>

  <span class="my-auto">
    <strong>Phone:</strong>
    <%= client.phone %>
  </span>

  <span class="my-auto">
    <strong>Store:</strong>
    <%= client.store_id %>
  </span>
</a>
