<tr id="<%= dom_id product %>">
  <%= link_to product_path(product), class: 'p-2 btn btn-primary' do %>
    <td><%= product.code %></td>
    <td><%= product.name %></td>
    <td><%= product.price %></td>
    <td><%= product.quantity %></td>
  <% end %>
</tr>
