<p style="color: green"><%= notice %></p>

<section class="row">
  <div class="col-12 col-sm-3">
    <h5 class="mt-2">Total: <%= @products.count %> </h5>
  </div>
  <div class="col-12 col-sm-9 d-flex justify-content-end gap-3">
    <form class="d-flex search-form" role="search">
        <input class="form-control me-1" type="search" placeholder="Search products" aria-label="Search">
        <button class="btn btn-outline-secondary border-info text-dark" type="submit"><%= bootstrap_icon('search', class: "mb-1") %></button>
    </form>
    <%= link_to new_product_path, class: 'btn btn-primary' do %>
      <%= bootstrap_icon('plus-circle-fill', class: "mb-1") %>
      <span class="d-none d-md-inline">Add product</span>
    <% end %>
  </div>
</section>

<section class="row mt-4 mx-1">
  <strong class="d-none d-md-inline col col-md-3 mb-2">Code</strong>
  <strong class="col-9 col-md-6 col-lg-5">Product</strong>
  <strong class="col-3 col-md-3 col-lg-2">Price</strong>
  <strong class="d-none d-lg-inline col col-lg-2">Quantity</strong>
  <%= render @products %>
</section>
