<p style="color: green"><%= notice %></p>

<div>
  <p><%= product.code %></p>
  <p><%= product.name %></p>
  <p><%= product.description %></p>
  <p><%= product.price %></p>
  <p><%= product.quantity %></p>
</div>

<div>
  <%= link_to "Edit this product", edit_product_path(@product) %> |
  <%= link_to "Back to products", products_path %>

  <%= button_to "Destroy this product", @product, method: :delete %>
</div>
