<%= form_with(model: sale) do |form| %>
  <div class="card my-3 p-2">
    <div class="row g-0 align-items-center">
      <div class="col-12 col-lg-6">
        <div class="card-body inputs-container d-flex flex-column gap-4">
          <%= form.select :product_id, Product.all.map { |product| [product.name, product.id] }, {}, class: 'form-select' %>
          <%= form.select :client_id, Client.all.map { |client| [client.name, client.id] }, {}, class: 'form-select' %>

          <div>
            <%= form.number_field :quantity, class: "form-control", placeholder: "Quantity" %>
          </div>

          <div>
            <%= form.text_field :discount, class: "form-control", placeholder: "Discount" %>
          </div>

          <div>
            <%= form.text_field :selling_price, class: "form-control", placeholder: "Amount" %>
          </div>

          <div class="btn-toolbar gap-2 justify-content-end justify-content-md-start">
            <%= link_to 'Cancel', sales_path, class: "btn btn-secondary" %>
            <%= form.submit "Save" , class: "btn btn-primary px-3" %>
          </div>
        </div>
      </div>

      <div class="col-lg-6 text-center">
        <img src=<%= asset_path 'sale.png' %> alt="cash_machine_photo" class="d-none d-lg-inline img-fluid opacity-25" width="250">
      </div>
    </div>
  </div>
<% end %>
