<div id="<%= dom_id sale %>">
  <p>
    <strong>Selling price:</strong>
    <%= sale.selling_price %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= sale.discount %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= sale.product_id %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= sale.client_id %>
  </p>

</div>
