<nav class="navbar fixed-bottom pb-4 bg-light d-lg-none">
  <div class="container">
    <ul class="nav gap-3 m-auto">
      <li>
        <%= active_link_to root_path, class: 'nav-link btn btn-outline-secondary px-4 text-dark', active: [['application'], ['index']] do %>
          <span>
            <%= bootstrap_icon 'speedometer', class: 'mb-1' %>
          </span>
        <% end %>
      </li>
      <li>
        <%= active_link_to clients_path, class: 'nav-link btn btn-outline-secondary px-4 text-dark' do %>
          <span>
            <%= bootstrap_icon 'people-fill', class: 'mb-1' %>
          </span>
        <% end %>
      </li>
      <li>
        <%= active_link_to products_path, class: 'nav-link btn btn-outline-secondary px-4 text-dark' do %>
          <span>
            <%= bootstrap_icon 'boxes', class: 'mb-1' %>
          </span>
        <% end %>
      </li>
      <li>
        <%= active_link_to sales_path, class: 'nav-link btn btn-outline-secondary px-4 text-dark' do %>
          <span>
            <%= bootstrap_icon 'receipt', class: 'mb-1' %>
          </span>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
